{{set . "title" "Chat"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<div class="container" style="width: 500px">
  <div class="row">
    <div class="panel panel-info">

      <div class="panel-heading">
        <h3 class="panel-title">Chat NAME</h3>
      </div>

      <div id="thread" class="panel-body"></div>
    </div>

    <div id="newMessage" style="display: inline;">
      <input type="text" id="message" autocomplete="off" autofocus="">
      <input type="submit" values="Отправить" id="send">
    </div>
  </div>
</div>

<script type="text/babel">
  // Create a socket

    var MessageElement = React.createClass( 
{
  render: function() {
    return (
      <div style={this.props.msgst}>
          
          <div>
            <span style={this.props.userst}><b>(12:51) {this.props.user}</b></span>
          </div>

          <div>
            <span>{this.props.msg}</span>
          </div>

        </div>
    )
  }
});

var JoinElement = React.createClass( 
{
  render: function() {
    return (
      <div style={this.props.msgst}>
      <b> Пользователь {this.props.user} присоединился</b>
      </div>
    )
  }
});

var LeaveElement = React.createClass( 
{
  render: function() {
    return (
      <div style={this.props.msgst}>
      <b> Пользователь {this.props.user} отключился</b>
      </div>
    )
  }
});


  var socket = new WebSocket('ws://'+window.location.host+'/room/websocket');
  // Display a message

  var userStyle = { color: 'red'};
  var msgStyle = {
    padding: '7px 3px'
  };

  var display = function(event) {
    //funcaa();

  var el = document.getElementById('thread'); 
  var nv = document.createElement('div');
  el.appendChild(nv);

  if (event.Type == 'join') {
    ReactDOM.render(
  <JoinElement user={event.User} msgst={msgStyle} />,
  nv);


  } else if (event.Type == 'message') {

  ReactDOM.render(
  <MessageElement user={event.User} msg={event.Text} userst={userStyle} msgst={msgStyle} />,
  nv);
  } else {
        ReactDOM.render(
  <LeaveElement user={event.User} msgst={msgStyle} />,
  nv);
  }

  }
  // Message received on the socket
  socket.onmessage = function(event) {
    display(JSON.parse(event.data))
  };

  $('#send').click(function(e) {
    var message = $('#message').val()
    $('#message').val('')
    socket.send(message)
  });

</script>

{{template "footer.html" .}}
