<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
  <header class="hero-unit" style="padding: 20px">
  <div class="container">
    <div class="row">
      <div>
        <h2>#ChatRoom</h2>
      </div>
      <div> <ul class="nav">
          {{ if .loggedIn }}
          <li><a href="/chat">    Chats</a></li>
          <li><a href="/rooms">   Room configuration</a></li>
          <li><a href="/logout">  Logout</a></li>
            {{ else }}
          <li><a href="/login">   Login</a></li>
          <li><a href="/register">Register</a></li>
          {{ end}}
        </ul> </div>
    </div>
  </div>
</header>
